.navigation {
    font-size: 10px;
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: #fff;
        height: 7em;
        width: 7em;
        position: fixed;
        top: 4em;
        right: 4em;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1em 3em rgba(#000, .3);
        text-align: center;
        cursor: pointer;
    }

    &__background {
        height: 6em;
        width: 6em;
        border-radius: 50%;
        position: fixed;
        top: 4.5em;
        right: 4.5em;
        background-image: radial-gradient(#fffc00, #b21f1f, #1a2a6c);
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        transform: translateX(-100vw);
        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1em;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3em;
            font-weight: 400;
            padding: 10px 20px;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
            background-size: 240%;
            transition: all .4s;
        }
        
        &:hover,
        &:active {
            background-position: 100%;
            color: yellowgreen;
            transform: translateX(1em);
        }
    }


    //FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
        transform: translateX(0);
    }


    //ICON
    &__icon {
        position: relative;
        margin-top: 3.5em;

        &,
        &::before,
        &::after {
            width: 3em;
            height: 2px;
            background-color: #777;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.8em; }
        &::after { top: .8em; }
    }

    &__button:hover &__icon::before {
        top: -1em;
    }

    &__button:hover &__icon::after {
        top: 1em;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}